.about-container {
    margin: 100px 50px 200px;
}

.about-container img {
    width: 100%;
}

.about-description {
    font-size: 1.3rem;
    text-align: justify;
}

.education {
    box-shadow: 5px 5px 15px gray;
    padding: 2.5rem;
    border-radius: 5px;
}

.about-info h1 {
    font-size: 1.6rem;
    color: black;
}

.about-info h2 {
    font-size: 1.2rem;
    color: black;
}

.about-info p {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: justify;
}