.home-container {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.profile-image {
    width: 300px;
    height: 300px;
    background-image: url('../../images/ProfileImage.jpg');
    border: solid 8px rgba(0, 0, 0, 0.8);
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: morph 8s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.profile-name {
    font-size: 3.2rem;
    color: black;
}

.profession {
    font-size: 1.2rem;
}

.icon {
    font-size: 2rem;
    color: black;
    margin-right: 20px;
}