.sidebar-container {
    height: 100vh;
    background-color: rgb(211, 211, 211, 0.5);
    position: fixed;
}

.sidebar-link {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.sidebar-link:hover {
    color: rgb(0, 0, 255, 0.9);
}

@media (max-width: 768px) {
    .sidebar-container {
        position: relative;
        height: auto;
    }
}