@import '../../styles/variable.scss';

.main_cursor,
.secondary_cursor {
    z-index: 1000;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    position: fixed;
}

.main_cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(41, 165, 135, 0.5);
}

.secondary_cursor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $secondary_color;
}
