@import '../../styles/variable.scss';

.footer {
    color: $primary_color;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(34, 40, 49);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 60px 0;
    font-size: 0.9rem;

    .color_highlight {
        color: $secondary_color;
    }
}
